html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans';
    min-height: 200vh;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.logo-mobile {
    display: none;
}
.slideanim {
    visibility:hidden;
}
.ph-resume {
    display: none;
}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
@keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(50%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(50%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
}
.logo {
    height: 100px; 
    width: 100px;
}
.logo:hover {
    height: 110px; 
    width: 110px;
    transition: height 0.2s, width 0.2s;
}
.navbar {
    border: 0;
    line-height: 1.42857143;
    letter-spacing: 2px;
    border-radius: 0;
    font-family: 'Krona One';
    background-color: transparent;
}
.navbar-default{
    transition:500ms ease;
    color: #000000;
    background: #ffffff;
}
.navbar-default.scrolled{
    background-color: #ffffff;
    box-shadow: 5px 0px 20px rgba(0,0,0, .2);
}
.navbar li .nav-link, .navbar .navbar-brand {
    font-size: 14px; 
    font-family: 'Krona One'; 
    color: #000000 !important;
}
.navbar-nav li .nav-link:hover, .navbar-nav li.active .nav-link {
    color: #000000;
    font-size: 16px;
    font-weight: 200;
    transition: color 0.2s, font-size 0.2s, font-weight 0.2s;
}
.ph-nav {
    display: none;
    margin-left: 50px;
}
.bg {
    background: url("contents/images/mainpg-back.png");
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.jumbotitle {
    font-family:"Cinzel";
    font-size: 80px;
    font-weight: 900;
    color: #FFFFFF;
}
.about {
    background-color: #f7d300;
}
.aboutsecs {
    padding: 10px; 
    text-align: center;
}
.abouttitle {
    font-family: 'Krona One';
    padding: 2.5%;
    color: #000000;
    font-size: 30px;
}
.aboutlogoresume {
    width: 40px; 
    height: 40px;
}
.aboutlogos {
    width: 100px; 
    height: 90px; 
    text-align: center;
}
.logostext {
    font-family: 'Montserrat';
    font-size: 20px;
    color: #000000;
}
.codingtitle {
    color: #4CAF50;
    padding-left: 80px; 
    font-size: 25px; 
    font-family: monospace;
}
.codingtext {
    padding-left: 80px;
}
.designtitle {
    color: #4CAF50;
    padding-right: 80px; 
    font-size: 27px; 
    font-family: 'Sofia'; 
    text-align: end;
}
.designtext {
    padding-right: 80px; 
    text-align: end;
}
.skill {
    padding-left: 120px; 
    padding-right: 60px;
}
.bartitle {
    font-size: 25px; 
    text-align: center;
    color: #FFFFFF;
}
.bartext {
    font-family: 'Montserrat';
    font-size: 20px;
    color: #FFFFFF;
}
.star {
    padding-right: 60px;
}
.checked {
    color: #4CAF50;
}
.unchecked {
    color: #FFFFFF;
}
.portfolio:hover .about {
    display: contents;
    transition: display 0.5s;
}
.maintitle {
    font-size: 24px;
    color: #37BC33;
}
.maintext {
    font-family: 'Lato';
    font-size: 24px;
}
.projtitle {
    color: #4CAF50;
    font-family: 'Krona One';
    font-size: 30px;
}
.projtext {
    font-family: 'Montserrat';
    color: #ffffff;
    font-size: 24px;
}
.codingtext {
    font-family: 'Montserrat';
    color: #ffffff;
    font-size: 20px;
}
.designtext {
    font-family: 'Montserrat';
    color: #ffffff;
    font-size: 20px;
}
.dataproj {
    background-color: #111111;
    padding: 2.5%;
}
.webproj {
    padding: 2.5%;
}
.counter-count {
    font-family: 'Krona One';
    font-size: 80px;
    font-weight: 900;
    color: #4CAF50;
    position: relative;
    text-align: center;
    display: inline-block;
}
.counter-text {
    font-family: 'Montserrat';
    font-size: 100px;
    font-weight: 900;
    color: #4CAF50;
    position: relative;
    text-align: center;
    display: inline-block;
}
.counter-heading {
    font-family: 'Montserrat';
    font-size: 30px; 
    text-align: center;
    color: #FFFFFF;
}
.experience {
    background-color: #4CAF50;
}
.art {
    background-color: #FFFFFF;
}
.art-main {
    font-family: 'Cinzel';
    font-size: 50px;
    font-weight: 900;
    text-align: center;
}
.art-img {
    text-align: center;
}
.art-title {
    font-family: 'Cinzel';
    font-size: 32px;
    font-weight: 900;
    text-align: center;
}
.social-logo {
    height: 70px;
    width: 70px;
    padding: 10px;
    margin: 10px;
}
.social-logo:hover {
    height: 80px;
    width: 80px;
    transition: height 0.2s, width 0.2s;
}
.btn-primary {
    border: transparent;
    background-color: transparent;
    color: #000000;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.almaeriff-ph {
    display: none;
}
.almaeriff-pic {
    padding: 30px; 
    width: 200px; 
    height: 200px;
    box-shadow: 0px 12px 18px 2px rgba(0,0,0,0.36);
}
.almaeriff-pic:hover {
    width: 210px;
    height: 210px;
    transition: height 0.2s, width 0.2s;
}
.almaeriff-title-main {
    color: #ffffff;
    font-size: 30px;
    font-family: 'Krona One';
}
.almaeriff-title {
    color: #ffffff;
    font-size: 22px;
    font-family: 'Krona One';
}
.almaerifftext {
    font-family: 'Montserrat';
    font-size: 24px;
    color: #FFFFFF;
}
.port-main {
    text-align: center;
    background: url("contents/images/certificate.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    max-height: 600px;
    box-shadow: 0px 12px 18px 2px rgba(0,0,0,0.36);
}
.port {
    background-color: #cb2a2a;
    padding: 4.5%;
}
.port-ph {
    display: none;
}
.portblock {
    padding: 5% 20%;
}
.port-title {
    color: #000000;
    font-family: 'Cinzel';
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 55px;
}
.porttext {
    font-family: 'Montserrat';
    color: #000000;
    font-size: 26px;
}
.portexp {
    color: #000000;
}
.counter-port {
    font-family: 'Krona One';
    font-size: 50px;
    font-weight: 900;
    color: #ED944D;
    text-align: center;
}
.ft {
    width: 50px;
    height: 50px;
    padding: 5px;
    margin: 5px;
}
.ft:hover {
    width: 60px;
    height: 60px;
    transition: height 0.2s, width 0.2s;
}
@media (max-width: 1400px) {        
    .art-title {
        font-size: 24px;
    }
    .port-title {
        color: #ffffff;
    }
    .portexp {
        color: #ffffff;
    }
    .counter-port {
        font-size: 40px;
        color: #ffffff;
    }
    .footlink {
        display: none;
    }
    .port-pc {
        display: none;
    }
    .port-ph {
        display: block;
    }
}
@media (max-width: 992px) {
    .jumbotitle {
        font-size: 50px !important;
    }
    .ph-nav {
        display: block;
        font-family: 'Cinzel' !important;
        font-size: 24px !important;
    }
    .ph-link {
        padding-left: 30px;
    }
    .ind-link {
        padding-top: 10px;
    }
    .aboutlogos {
        width: 70px; 
        height: 60px; 
        text-align: center;
    }
    .logostext {
        font-family: 'Montserrat';
        font-size: 16px;
        color: #000000;
    }
    .codingtitle {
        padding-left: 30px !important; 
        font-size: 20px !important; 
    }
    .codingtext {
        padding-left: 18px !important;
        font-size: 16px !important;
    }
    .designtitle {
        padding-right: 15px !important; 
        font-size: 22px !important; 
    }
    .designtext {
        padding-right: 20px !important;
        font-size: 16px !important; 
    }
    .bartitle {
        font-size: 18px !important; 
    }
    .bartext {
        font-size: 16px !important;
    }
    .counter-heading {
        font-size: 18px !important;
    }
    .counter-count {
        font-size: 50px !important;
    }
    .counter-text {
        font-size: 75px !important;
    }
    .stats {
        border: 0px transparent !important;
    }
    .skill {
        padding-left: 20px !important; 
        padding-right: 20px !important;
    }
    .star {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .projtext {
        font-size: 18px !important;
    }
    .pc-resume {
        display: none;
    }
    .ph-resume {
        display: block;
    }
    .almaeriff-pc {
        display: none;
    }
    .almaeriff-ph {
        display: block;
    }
    .almaeriff-title {
        font-size: 18px !important;
    }
    .almaerifftext {
        font-size: 16px !important;
    }
    .almaeriff-pic {
        width: 150px !important; 
        height: 150px !important;
    }
    .port-pc {
        display: none;
    }
    .port-ph {
        display: block;
    }
    .footlink {
        display: none;
    }
    .art-title {
        font-size: 20px;
    }
    .port-title {
        color: #ffffff;
    }
    .portexp {
        color: #ffffff;
    }
    .counter-port {
        font-size: 30px;
        color: #ffffff;
    }
}