html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans';
    min-height: 200vh;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.slideanim {
    visibility:hidden;
}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
@keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(50%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(50%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
}
.logo {
    height: 80px; 
    width: 200px;
}
.logo:hover {
    height: 90px; 
    width: 240px;
    transition: height 0.2s, width 0.2s;
}
.navbar {
    border: 0;
    line-height: 1.42857143;
    letter-spacing: 2px;
    border-radius: 0;
    font-family: 'Krona One';
    background-color: transparent;
}
.navbar-default{
    transition:500ms ease;
    background:transparent;
}
.navbar-default.scrolled{
    background-color: #ffffff;
    box-shadow: 5px 0px 20px rgba(0,0,0, .2);
}
.navbar li .nav-link, .navbar .navbar-brand {
    font-size: 14px; 
    font-family: 'Krona One'; 
    color: #000000 !important;
}
.navbar-nav li .nav-link:hover, .navbar-nav li.active .nav-link {
    color: #000000;
    font-size: 16px;
    font-weight: 200;
    transition: color 0.2s, font-size 0.2s, font-weight 0.2s;
}
.ph-nav {
    display: none;
    margin-left: 50px;
}
.maintitle {
    font-size: 35px;
    font-family: "Fahkwang";
}
.maintitle2 {
    font-size: 20px;
    font-family: "Fahkwang";
    padding-left: 50px;
}
.maintext {
    font-size: 25px;
    font-family: "Fahkwang";
}
.mainsubtext {
    font-size: 18px;
    font-family: "Fahkwang";
}
.mainsubtext-tab1 {
    font-size: 18px;
    font-family: "Fahkwang";
    padding-left: 35px;
}
.mainsubtext-tab2 {
    font-size: 18px;
    font-family: "Fahkwang";
    padding-left: 50px;
}
.card {
    padding: 8px;
    margin: 10px;
    box-shadow: 0px 0px 10px 1px rgba(53, 53, 53, 0.2);
    border-radius: 10px;
    border: transparent;
}
.card:hover {
    box-shadow: 0px 0px 20px 2px rgba(53, 53, 53, 0.4);
    border-radius: 10px;
    transition: box-shadow 0.2s;
}
.hr {
    background-color: rgba(53, 53, 53, 0.4);
    color: rgba(53, 53, 53, 0.4);
    height: 1px;
}
.profile {
    width: 100% !important;
    border-radius: 60%;
    padding: 20px;
    object-fit: cover;
}
.bartitle {
    font-size: 20px;
}
.bartext {
    font-family: 'Fahkwang';
    font-size: 18px;
    color: #000;
    padding-top: 12px;
}
.checked {
    color: #4CAF50;
}
.ft {
    width: 50px;
    height: 50px;
    padding: 5px;
    margin: 5px;
}
.ft:hover {
    width: 60px;
    height: 60px;
    transition: height 0.2s, width 0.2s;
}
.fttext {
    font-family: 'Lato';
    font-size: 24px;
}
.fttitle {
    font-family: 'Krona One';
    font-size: 27px;
}
@media (max-width: 992px) {
    .ph-nav {
        display: block;
        font-family: 'Cinzel' !important;
        font-size: 24px !important;
    }
    .ph-link {
        padding-left: 30px;
    }
    .ind-link {
        padding-top: 10px;
    }
    .maintitle {
        font-size: 27px;
    }
    .maintitle2 {
        font-size: 18px;
    }
    .maintext {
        font-size: 22px;
    }
    .mainsubtext {
        font-size: 18px;
    }
    .mainsubtext-tab1 {
        font-size: 16px;
    }
    .mainsubtext-tab2 {
        font-size: 16px;
    }
    .fttext {
        font-size: 18px;
    }
    .footlink {
        display: none;
    }
}